@media (max-width: 935px) {
    .usersCard {
        flex-direction: column;
    }
    .card {
        width: 100% !important;
        
    }
}

.card {
    --bs-card-border-color:rgba(0, 0, 0, 0.7);

}